:root {
  --primary-color: hsl(0, 0%, 90%);
  --primary-bkgd: hsl(0, 0%, 10%);
  --accent-color: hsl(200, 96%, 56%);
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  background: var(--primary-bkgd);
  min-height: 100vh;
  min-height: 100dvh;
  color: var(--primary-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {}
