:root {
  --primary-color: hsl(0, 0%, 90%);
  --primary-bkgd: hsl(0, 0%, 10%);
  --accent-color: hsl(200, 96%, 56%);
  --primary-font: Georgia, serif;
  --secondary-font: Tahoma, sans-serif;
  --max-text-width: 65ch;
  --size-sm: 1.309015rem;
  --size-md: 1.61803rem;
  --size-lg: 2.6180210809rem;
  --size-xl: 4.23603664953rem;
  --size-xxl: 6.85403438004rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  padding: var(--size-md);
  font-family: var(--primary-font);
  line-height: var(--size-lg);
  background: var(--primary-bkgd);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}

p {
  padding-bottom: var(--size-md);
}

.main-app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
}