:root {
  --primary-color: hsl(0, 0%, 90%);
  --primary-bkgd: hsl(0, 0%, 10%);
  --accent-color: hsl(200, 96%, 56%);
  --primary-font: Georgia, serif;
  --secondary-font: Tahoma, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 2rem;
  font-family: var(--primary-font);
  line-height: 1.8;
  background: var(--primary-bkgd);
  color: var(--primary-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}

p {
  padding-bottom: 1rem;
}

.main-app {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  width: 100%;
}